PORT=8000
API_HOST=localhost
NODE_ENV=development/production/test
JWT_SECRET=1ba_pmpV(2T|$%9
JWT_ACCESS_EXPIRATION_MINUTES=100
JWT_RESET_EXPIRATION_MINUTES=60
JWT_VERIFY_EXPIRATION_MINUTES=60
HOST=
SENDGRID_KEY=
EMAIL_FROM=example@example.com
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"